/* div {
  border: #0303ec solid;
} */

/* -------------- App --------------*/

#app {
  display: flex;
  justify-content: center;
}

#contenu {
  /* max-width: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#divCompteur {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100px;
}

#map_button {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.map {
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* max-width: 20%; */
}

.hidden {
  visibility: hidden;
}

.interaction1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 224px;
  animation: menuInter1 1s;
}

.interaction2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 224px;
  animation: menuInter2 1s;
}

.interaction3 {
  animation: menuInter3 1s;
}

@keyframes menuInter3 {
  0% {
    transform: translateX(180px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes menuInter2 {
  0% {
    width: 0px;
  }
  100% {
    width: 224px;
  }
}

@keyframes menuInter1 {
  0% {
    transform: translateX(224px);
  }
  100% {
    transform: translateX(0px);
  }
}

.previewImg {
  width: 50px;
  height: 50px;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

/* -------------- Compteur --------------*/

.bigDiv {
  margin: 1em;
  padding: 1em 2em;
  width: 500px;
  text-align: center;
}
/* 
#compteur {
  background: #ccffff;
} */
.box {
  display: flex;
  flex-direction: column;
}
/* -------------- Buttons --------------*/

/* Box colors */
.bg-1 {
  /* background: #eceff1; */
  color: #37474f;
}
.bg-2 {
  background: #7986cb;
  color: #eceff1;
}
.bg-3 {
  background: #37474f;
  color: #fff;
}

.divOrga {
  display: flex;
  flex-direction: column;
  width: 180px;
  color: inherit;
  vertical-align: middle;
  position: relative;
  border: 1px solid;
  border-radius: 5px;
  margin: 1em;
}
.labelOrga {
  width: 180px;
  vertical-align: middle;
  border-radius: 5px;
}

.inputOrga {
  float: left;
  /* min-width: 180px;
  max-width: 250px; */
  width: 145px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.lieuOrga {
  margin: 0em 0em 1em 0em;
}

/* Common button styles */
.button {
  float: left;
  /* min-width: 180px;
  max-width: 250px; */
  width: 180px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
  color: #37474f;
  border-color: #37474f;
}
.bg-2 .button {
  color: #eceff1;
  border-color: #eceff1;
}
.bg-3 .button {
  color: #fff;
  border-color: #fff;
}

/* Sizes */
.button--size-s {
  font-size: 14px;
}
.button--size-m {
  font-size: 16px;
}
.button--size-l {
  font-size: 18px;
}

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button--text-thin {
  font-weight: 300;
}
.button--text-medium {
  font-weight: 500;
}
.button--text-thick {
  font-weight: 600;
}
.button--round-s {
  border-radius: 5px;
}
.button--round-m {
  border-radius: 15px;
}
.button--round-l {
  border-radius: 40px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}
.button--border-medium {
  border: 2px solid;
}
.button--border-thick {
  border: 3px solid;
}

/* Individual button styles */

/* Winona */
.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #3f51b5;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}
.button--winona > span {
  display: block;
}
.button--winona.button--inverted {
  color: #7986cb;
}
.button--winona.button--inverted:after {
  color: #fff;
}
.button--winona::after,
.button--winona > span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--winona:hover {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.1);
}
.button--winona.button--inverted:hover {
  border-color: #21333c;
  background-color: #21333c;
}
.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--winona:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0);
}
